<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clinica_Odontologica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Clinica_Odontologica.Properties.Settings.OdonticConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Odontic.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Clinica_Odontologica.Properties.Settings>
            <setting name="usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="rol" serializeAs="String">
                <value />
            </setting>
            <setting name="id_compras" serializeAs="String">
                <value />
            </setting>
            <setting name="id_ventas" serializeAs="String">
                <value />
            </setting>
            <setting name="id_tratamientos" serializeAs="String">
                <value />
            </setting>
        </Clinica_Odontologica.Properties.Settings>
    </userSettings>
</configuration>